<ion-header>
    <ion-navbar>
        <ion-title>
            个人中心
        </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="bg-color">
    <ion-list class="top-list">
        <button *ngIf="userInfo._isLogin" ion-item (click)="goPage('UserInfoPage')">
            <ion-avatar item-left>
              <img src="./assets/img/advance-card-tmntr.jpg">
            </ion-avatar>
            <h2>{{userInfo.name}}</h2>
            <p>{{userInfo.mobile}}</p>
        </button>
        <div style="text-align:center"  *ngIf="!userInfo._isLogin">
            <button ion-button round outline item-center (click)="goLogin();">点击登录</button>
        </div>
    </ion-list>
  
    <ion-list>
          <button ion-item>
            意见反馈
          </button>
          <button ion-item>
            版本号
            <span  item-end>V1.0</span>
          </button>
        <button ion-item (click)="goPageNoLogin('AboutusPage')">
            关于
        </button>
    </ion-list>
  
    <div *ngIf="userInfo._isLogin" style="text-align: center; margin-left: 30px; margin-right: 30px;margin-top: 30px;">
        <button ion-button block (click)="logOut()">
            退出登录
        </button>
    </div>
  </ion-content>